[defaults]
roles_path = ../eng_k0s/roles:../eng_wireguard/roles:../plg_gateway/roles:../eng_debian/roles:../eng_rpios/roles:../eng_ubuntu/roles:../ops_cluster/roles
stdout_callback = default
result_format = yaml
retry_files_enabled = False
private_key_file = ~/.ssh/kubewi_ansible
deprecation_warnings = False
host_key_checking = False

[privilege_escalation]
become         = True
become_method  = sudo
become_timeout = 60

[ssh_connection]
pipelining = True
