[Match]
Name={{ network_bridge_name }}.{{ item.id }}

[Network]
LinkLocalAddressing=no
{% if network_vlan_ips is defined and item.id | string in network_vlan_ips %}
Address={{ network_vlan_ips[item.id | string] }}
{% endif %}
