[defaults]
inventory = inventory/hosts.yml
roles_path = roles
stdout_callback = default
result_format = yaml
retry_files_enabled = False
private_key_file = ~/.ssh/kubewi_ansible
deprecation_warnings = False

[privilege_escalation]
become_timeout = 60

[ssh_connection]
pipelining = True
