[plugins."io.containerd.cri.v1.images".registry.configs."{{ registry_address }}"]
  [plugins."io.containerd.cri.v1.images".registry.configs."{{ registry_address }}".tls]
    insecure_skip_verify = true
